<ul id="MobileNav" class="mobile-nav">
    <li class="lvl1 parent megamenu">
        <a href="@Url.Action("Repertuar","Home")">Repertuar</a>
    </li>
    <li class="lvl1 parent megamenu">
        <a href="@Url.Action("Oferty","Home")">Oferty</a>          
    </li>
    <li class="lvl1 parent megamenu">
        <a href="@Url.Action("Prezenty","Home")">Prezenty</a>  
    </li>
    <li class="lvl1 parent megamenu">
        <a href="@Url.Action("Blog","Home")">Blog</a>    
    </li>
    <li class="lvl1 parent megamenu">
        <a href="blog-left-sidebar.html"><b>Kup bilet!</b></a>
    </li>
</ul>