@{
    ViewData["Title"] = "Repertuar";
}
<body class="page-template belle cart-variant1">
<div id="page-content">
    <!--Page Title-->
        <br /><br /><br />
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Repertuar</h1></div>
        </div>
    </div>
    <!--End Page Title-->

    <div class="container">
        <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                    <div class="text-center mb-4">
                        <div class="rte-setting">
                            <button type="submit" name="clear" class="btn btn-secondary btn--small  small--hide">Dziś</button>
                            <button type="submit" name="clear" class="btn btn-secondary btn--small  small--hide">Jutro</button>
                            <button type="submit" name="clear" class="btn btn-secondary btn--small  small--hide">Pojurzte</button>
                            <input type="text" id="your-datepicker-id" style="display: none;">
                        </div>
                    </div>
                </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">

                <form action="#" method="post" class="cart style2">
                    <table>
                            <tr class="cart__row border-bottom line1 cart-flex border-top">
                                <td class="cart__image-wrapper cart-flex-item">
                                        <a href="#"><img class="cart__image" src="~/lib/bootstrap/images/movies/film1.jpg" alt="image"></a>
                                </td>
                                <td class="cart__meta small--text-left cart-flex-item">
                                    <div class="list-view-item__title">
                                            <a href="#">Shazam! Gniew Bogów </a>
                                    </div>
                                    <div class="cart__meta-text">
                                            Akcja, Fantasy | 130 min<br>2D<br><br>
                                            <button type="submit" name="clear" class="btn btn-secondary btn--small  small--hide">18:20</button>
                                    </div>
                                </td>
                                <td class="cart__price-wrapper cart-flex-item"></td>
                                <td class="cart__update-wrapper cart-flex-item text-right"></td>
                                <td class="text-right small--hide cart-price"></td>
                            </tr>
                            <tr class="cart__row border-bottom line1 cart-flex border-top">
                                <td class="cart__image-wrapper cart-flex-item">
                                        <a href="#"><img class="cart__image" src="~/lib/bootstrap/images/movies/film2.jpg" alt="image"></a>
                                </td>
                                <td class="cart__meta small--text-left cart-flex-item">
                                    <div class="list-view-item__title">
                                        <a href="#">65</a>
                                    </div>
                                        <div class="cart__meta-text">
                                            Akcja, Fantasy | 130 min<br>2D<br><br>
                                            <button type="submit" name="clear" class="btn btn-secondary btn--small  small--hide">18:20</button>
                                        </div>
                                    </td>
                                <td class="cart__price-wrapper cart-flex-item"></td>
                                <td class="cart__update-wrapper cart-flex-item text-right"></td>
                                <td class="text-right small--hide cart-price"></td>
                                </tr>
                            <tr class="cart__row border-bottom line1 cart-flex border-top">
                                <td class="cart__image-wrapper cart-flex-item">
                                        <a href="#"><img class="cart__image" src="~/lib/bootstrap/images/movies/film3.jpg" alt="image"></a>
                                </td>
                                <td class="cart__meta small--text-left cart-flex-item">
                                    <div class="list-view-item__title">
                                        <a href="#">Wyrwa</a>
                                    </div>
                                        <div class="cart__meta-text">
                                            Akcja, Fantasy | 130 min<br>2D<br><br>
                                            <button type="submit" name="clear" class="btn btn-secondary btn--small  small--hide">18:20</button>
                                        </div>
                                    </td>
                                <td class="cart__price-wrapper cart-flex-item"></td>
                                <td class="cart__update-wrapper cart-flex-item text-right"></td>
                                <td class="text-right small--hide cart-price"></td>
                                </tr>
                    </table>
                </form>
            </div>
        </div>
</body>
<!--End Body Content-->