@model Firma.Data.Data.CMS.StronaGlowna

@{
    ViewData["Title"] = "Create";
}

<section class="section section-details grey lighten-4">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 m6">
                                <span class="card-title">Dodaj nowy prezent</span>
                            </div>
                            
                        </div>
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Bannery" class="control-label"></label>
                                <input asp-for="Bannery" class="form-control" />
                                <span asp-validation-for="Bannery" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TekstyBanner" class="control-label"></label>
                                <input asp-for="TekstyBanner" class="form-control" />
                                <span asp-validation-for="TekstyBanner" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ReklamyZdjecia" class="control-label"></label>
                                <input asp-for="ReklamyZdjecia" class="form-control" />
                                <span asp-validation-for="ReklamyZdjecia" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TekstyReklama" class="control-label"></label>
                                <input asp-for="TekstyReklama" class="form-control" />
                                <span asp-validation-for="TekstyReklama" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PartnerzyZdjecia" class="control-label"></label>
                                <input asp-for="PartnerzyZdjecia" class="form-control" />
                                <span asp-validation-for="PartnerzyZdjecia" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                                <a asp-action="Index"><input type="button" value="Powrót" class="btn btn-primary" /></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




